@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aboreto&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: clamp(8px, 1vw, 10px);
}

body {
  color: #222222;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
}

.section-gap {
  padding-top: 5em;
  padding-bottom: 5em;
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  transition: background 0.2s ease-in-out;
}
.btn--primary {
  color: #ffffff;
  background-color: #222222;
}
.btn--primary:active {
  background-color: #555555;
}
@media (hover: hover) {
  .btn--primary:focus-visible, .btn--primary:hover {
    background-color: #555555;
  }
}

.header {
  padding: 0 15px;
  box-shadow: 0 1px 0 #222222;
}

.navbar {
  display: flex;
  align-items: center;
}
.navbar__logo {
  display: inline-block;
}
.navbar__logo__iamge {
  max-height: 4rem;
}
.navbar__nav {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.navbar__nav__item__link {
  display: block;
  color: #222222;
  font-size: 1em;
  font-weight: 500;
  padding: 0.8em 1em;
}
.navbar__nav__item__link:hover {
  background-color: rgba(34, 34, 34, 0.2);
}
.navbar__nav__item.active .navbar__nav__item__link {
  color: #fff;
  background-color: #222222;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #222222;
  transition: box-shadow 0.2s ease-in-out;
}
.card__header {
  position: relative;
  height: 20rem;
  border: inherit;
  overflow: hidden;
}
.card__header__link {
  display: block;
  height: 100%;
}
.card__header__link__image {
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.2s ease-out;
}
@media (hover: hover) {
  .card__header__link:focus-visible .card__header__link__image, .card__header__link:hover .card__header__link__image {
    transform: scale(1.2);
  }
}
.card__body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 15px;
}
.card__body__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.card__body__list__item__link {
  color: #222222;
  font-size: 1.2rem;
  padding: 0.2em 0.7em;
  border: 1px solid #222222;
  transition: all 0.2s ease-in-out;
}
.card__body__list__item__link:active, .card__body__list__item__link:focus-visible {
  color: #ffffff;
  background-color: #222222;
}
@media (hover: hover) {
  .card__body__list__item__link:hover {
    color: #ffffff;
    background-color: #222222;
  }
}
.card__body__title {
  width: 100%;
}
.card__body__title__link {
  display: block;
  color: #222222;
}
.card__body__title__link:hover, .card__body__title__link:focus-visible {
  text-decoration: underline;
}
.card__body__text {
  padding: 10px 0 20px;
}
.card__body .btn {
  white-space: nowrap;
  margin-top: auto;
}
.card:active, .card:focus-within {
  box-shadow: -0.2em 0.2em 0 #ffe34e, -0.4em 0.4em 0 #f700ff;
}
@media (hover: hover) {
  .card:hover {
    box-shadow: -0.2em 0.2em 0 #ffe34e, -0.4em 0.4em 0 #f700ff;
  }
}

.all-article {
  display: grid;
  gap: 30px;
  padding-left: 15px;
  padding-right: 15px;
  grid-auto-flow: row;
}
@media (min-width: 576px) {
  .all-article {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .all-article {
    grid-template-columns: repeat(3, 1fr);
  }
}/*# sourceMappingURL=style.css.map */